.home {
    display: block;

    .home__data {
        display: block;

        .home__title {
            font-family: var(--font-title);
            font-weight: 500;
            font-size: 2rem;
            margin: 5% 5% 0% 5%;
        }

        .home__text {
            font-family: var(--font-text);
            font-weight: 400;
            font-size: 1.2rem;
            margin: 5% 5% 0% 5%;
        }

        .home__button__container {
            display: flex;
            justify-content: center;
            margin-top: 5%;

            .home__button {
                background-color: var(--color-primary);
                color: var(--color-terciary);
                font-family: var(--font-text);
                font-weight: 600;
                text-decoration: none;
                padding: 10px 30px;
                border-radius: 10px;
                box-shadow: 0px 3px 6px var(--color-primary-shadow);
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .home {
        display: flex;
        justify-content: center;

        .home__data {
            width: 30%;
            margin-top: 5%;

            .home__button__container {
                display: block;
                margin: 10% 5% 0% 5%;
            }
        }

        .slider__container {
            width: 30%;
        }
    }
}
