.my-photos {

    .filters {
        display: flex;
        margin-top: 20px;
        justify-content: center;

        .select {
            width: 150px;
        }
    }

    .photos__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 3%;
        gap: 3px;
    }
}
