.card {
    display: inline-block;
    position: relative;
    width: 90%;
    height: 400px;
    min-width: 250px;

    .card__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: auto;
    }

    .card__likes {
        display: flex;
        position: absolute;
        right: 5px;
        bottom: 10px;
        padding: 3px 10px;
        background-color: #D90429cc;
        border-radius: 5px;

        .likes__icon,
        .likes__num {
            color: var(--color-terciary);
        }

        .likes__num {
            font-family: var(--font-text);
            font-weight: 500;
            margin-left: 3px;
        }
    }

    .card__size,
    .card__date {
        position: absolute;
        background-color: #2B2D42cc;
        color: var(--color-terciary);
        font-family: var(--font-text);
        font-weight: 500;
        padding: 3px 10px;
        border-radius: 5px;
    }

    .card__add {
        position: absolute;
        background-color: #2B2D42cc;
        color: var(--color-terciary);
        font-size: 35px;
        border-radius: 50%;
        cursor: pointer;
    }

    .card__size {
        left: 5px;
        bottom: 10px;
    }

    .card__date,
    .card__add {
        top: 5px;
        right: 5px;
    }
}

@media only screen and (min-width: 550px) {
    .card {
        width: 49%;
    }
}


@media only screen and (min-width: 1000px) {
    .card {
        width: 24%;
    }
}
