.search {
    display: block;
    min-height: 100vh;

    .input__container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 20px;

        .input {
            width: 70%;
        }
    }

    .progress {
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .photos__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 3%;
        gap: 3px;
    }

    .button {
        display: flex;
        align-items: center;
        gap: 3px;
        cursor: pointer;
        background-color: var(--color-primary);
        color: var(--color-terciary);
        font-family: var(--font-text);
        font-weight: 600;
        text-decoration: none;
        padding: 10px 30px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 3px 6px var(--color-primary-shadow);
    }
}
