.slider {
    position: relative;
    display: block;
    height: 500px;
    width: 100%;
    background-color: black;
    margin: 10% 0;
    box-shadow: 0px 3px 6px var(--color-black-shadow);
    border-radius: 7px;

    .slider__img {
        display: none;
        margin: auto;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .slider__img-active {
        display: block;
    }

    .arrow {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: #ffffffdd;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50%;

        .arrow__icon {
            margin: 8px;
        }

        .arrow__icon-left {
            margin-left: 12px;
        }
    }

    .arrow-right {
        position: absolute;
        top: 45%;
        right: 2%;
    }

    .arrow-left {
        position: absolute;
        top: 45%;
        left: 2%;
    }

    .slider__button__container {
        position: absolute;
        width: 100%;
        bottom: 0;
        justify-content: center;
        gap: 5%;

        .slider__button__list {
            display: flex;
            justify-content: center;
            gap: 3%;
            padding-bottom: 2%;

            .slider__button {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: none;
                background-color: #ffffff77;
            }

            .slider__button-active {
                background-color: #ffffff;
            }
        }
    }
}
