@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

:root{
  --color-primary: #2B2D42;
  --color-primary-hover: #474a6c;
  --color-primary-shadow: #2B2D4229;
  --color-secondary: #8D99AE;
  --color-terciary: #EDF2F4;
  --color-quaternary: #EF233C;
  --color-quinary: #D90429;
  --color-black: #000000;
  --color-black-shadow: #00000029;
  --color-white: #ffffff;
  --color-terciary-hover: #d0dde2;

  --font-title: "Ubuntu";
  --font-text: "Open Sans";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}
